@font-face {
    font-family: 'ralewayregular';
    src: url('./font/raleway-regular-webfont.eot');
    src: url('./font/raleway-regular-webfont.woff2') format('woff2'),
        url('./font/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaymedium';
    src: url('./font/raleway-medium-webfont.eot');
    src: url('./font/raleway-medium-webfont.woff2') format('woff2'),
        url('./font/raleway-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaysemibold';
    src: url('./font/raleway-semibold-webfont.eot');
    src: url('./font/raleway-semibold-webfont.woff2') format('woff2'),
        url('./font/raleway-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayextrabold';
    src: url('./font/raleway-extrabold-webfont.eot');
    src: url('./font/raleway-extrabold-webfont.woff2') format('woff2'),
        url('./font/raleway-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background: #767373;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

h2 {
    font-family: 'ralewaysemibold', sans-serif;
    font-size: 30px;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.top {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 42px;
    background-image: url(img/bg-header.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 20%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-right: 200px;
}

.logo-svg {
    fill: #fff;
}

.logo-text {
    font-family: 'ralewayregular', sans-serif;
    color: #fff;
    font-size: 34px;
}

.logo:hover .logo-svg {
    fill: #998675;
    stroke: #fff;
    transition: .2s;
}

.logo:hover .logo-text {
    color: #998675;
    transition: .2s;

}

.logo:active .logo-svg {
    fill: #5d534a;
    stroke: #fff;
}

.logo:active .logo-text {
    color: #5d534a;
}

nav {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
    transition: .2s;

}

nav li:nth-child(8) {
    margin-right: 20px;
}

nav li:hover a {
    text-decoration: underline;
    color: #998675;
    transition: .2s;
}

nav a:active {
    color: #5d534a;
}

.nav-icon {
    text-decoration: none;
    fill: #fff;
    transition: .2s;

}

.nav-icon:hover {
    fill: #998675;
    transition: .2s;

}

.nav-icon:active {
    fill: #5d534a;
}

.top-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 312px;
}

.top-arrow {
    fill: #fff;
    transition: .2s;

}

.top-arrow:hover {
    fill: #998675;
    transform: rotateY(30deg);
    transition: .2s;
}

.top-arrow:active {
    fill: #5d534a;
    transition: .2s;

}

.top-content-wrap {
    width: 45%;
    text-align: center;
    color: #fff;
}

.top-content-wrap span {
    font-family: 'ralewaymedium';
    font-size: 36px;
}

.top-content-wrap h1 {
    font-family: 'ralewayextrabold';
    font-size: 52px;
    margin: 30px auto;
}

.top-content-wrap p {
    margin-bottom: 50px;
}

.btn {
    padding: 18px 40px;
    font-family: 'ralewayextrabold';
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    background: #998675;
    border: none;
    border-radius: 5px;
    border-bottom: 2px solid #5d534a;
    outline: none;
    cursor: pointer;
    transition: .2s;
}

.btn:hover {
    color: #998675;
    background: #5d534a;
    border-bottom: 2px solid #fff;
    transform: scale(1.2, 1.2);
    transition: .3s;
}

.btn:active {
    color: #5d534a;
    background: #fff;
    border-bottom: 2px solid #998675;
}

.pagination {
    margin: 320px auto 0;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.pagination-link {
    margin: 16px;
    width: 16px;
    height: 16px;
    background: #8b8c8e;
    border: transparent;
    border-radius: 50%;
}

.pagination-link:hover {
    box-sizing: border-box;
    background: transparent;
    border: 2px solid #998675;
    transform: scale(1.1);
    transition: .2s;
}

.pagination-link:active {
    box-sizing: border-box;
    background: #fff;
    border: 2px solid #998675;
}

.item {
    margin: 0 auto;
}

.item-wrap {
    background: #fff;
    display: flex;
    justify-content: center;

}

.item-card {
    width: 15%;
    padding: 80px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: #555555;
}

.item-card::after {
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    background: #555555;
}

.item-card svg {
    margin-bottom: 28px;
    fill: #555555;
}

.item-card span {
    font-family: 'ralewaysemibold';
    font-size: 22px;
}

.item-card p {
    font-size: 14px;
    margin: 24px auto;
}

.item-card:hover svg {
    fill: #c7b299;
}

.item-card:hover span {
    color: #c7b299;
}

.item-card:hover::after {
    background: #c7b299;
}

.item-real {
    padding-top: 82px;
    color: #555;
    text-align: center;
    background-color: #fbfaf8;
}

.item-real h2 {
    margin: 0 auto;
}

.item-real p {
    width: 50%;
    margin: 0 auto;
    padding: 36px 0;
}

.bg {
    margin: 0 auto;
    width: 70%;
    height: 482px;
    background-image: url(img/browser-center.png), url(img/browser-right.png), url(img/browser-left.png);
    background-position: bottom center, bottom right, bottom left;
    background-repeat: no-repeat;
}

.gradient {
    background: linear-gradient(90deg, rgba(55, 39, 32, 1) 0%, rgba(76, 50, 38, 1) 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.grad-wrap {
    padding: 46px 0;
}

.grad-wrap span {
    font-family: 'ralewayregular';
    font-size: 28px;
    color: #fff;

}

.grad-wrap a {
    text-decoration: none;
    color: #998675;
}

.grad-wrap p {
    font-size: 18px;
    color: #615855;
}

.project {
    width: 100%;
    margin: 0 auto;
    padding: 78px 0;
    background: #fff;
    text-align: center;
    color: #555;
}

.project h2 {
    margin: 0;
    margin-bottom: 30px;
}

.project p {
    margin: 0 auto;
    width: 50%;

}

.project ul {
    display: flex;
    justify-content: center;
}

.project li {
    margin: 40px 6px;
    padding: 10px 24px;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    box-shadow: 0 0 1px 0;
    border-radius: 3px;
    transition: .5s;

}

.project a {
    text-decoration: none;
    color: #555;

}

.project li:hover {
    background: #998675;
    cursor: pointer;
    transition: .5s;
}

.project li:hover a {
    color: #fff;
    transition: .5s;

}

.project li:active {
    transform: scale(1.2, 1.2);
    transition: .2s;
}

.poject-wrap {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;

}

.poject-wrap figure {
    padding-bottom: 14px;
    display: flex;
    flex-direction: column;
    background: #fbfaf8;
}

.project-wrap_item span {
    margin-top: 32px;
    margin-left: 36px;
    font-family: 'ralewaymedium';
    font-size: 20px;
    text-align: left;
    color: #c7b299;
}

.project-wrap_item {
    position: relative;
}

.project-wrap_item:hover {
    cursor: pointer;
}

.project-wrap_item::before {
    content: "";
    border: 20px solid transparent;
    border-bottom: 12px solid #fbfaf8;
    position: absolute;
    bottom: 112px;
    left: 20px;
}

.project-wrap_item p {
    width: 100%;
    margin: 14px 36px;
    font-size: 14px;
    color: #d1d1d1;
    text-align: left;
}

.player {
    position: relative;
}

.player div {
    color: #fff;
    text-align: center;
    position: absolute;
    width: 50%;
    height: 50%;
    overflow: auto;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

}

.player svg {
    fill: #fff;
}

video {
    object-fit: inherit;
}

.mobile-wrap {
    padding-top: 78px;
    background: #fbfaf8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-img {
    width: 30%;
}

.mobile-text {
    width: 45%;
}

.mobile-text h2,
.mobile-text p {
    color: #555;
}

.mobile-list {
    list-style: none;
    list-style-image: url(img/arrow.png);
    color: #555;
    list-style-position: inside;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.counter {
    background: linear-gradient(90deg, #241d1a, #4d3327);
    display: flex;
    justify-content: center;
}

.counter-item {
    width: 10%;
    padding: 64px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.counter svg {
    fill: #c7b299;
}

.counter span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 48px;
    color: #fff;
    margin-top: 28px;
}

.counter p {
    color: #c7b299;
    font-size: 14px;
    text-transform: uppercase;
}

.counter p::after {
    content: "";
    display: block;
    height: 2px;
    width: 20px;
    margin: 26px auto 0;
    background: #fff;
}

.posts {
    background: #fff;
    text-align: center;
    color: #555;
    padding: 86px 0;
}

.posts-text {
    margin: 0 auto;
    width: 50%;
    line-height: 28px;
    padding-bottom: 30px;
}

.posts-wrap {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.posts-wrap_item {
    width: 100%;
    text-align: left;
}

.posts-wrap_item span {
    font-family: 'ralewaymedium';
    font-size: 20px;
}

.label {
    padding: 5%;
    background: #555556;
    background-image: url(img/bg-footer.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label img {
    padding: 45px;
}

.info {
    background: #191919;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
